/Handouts/
/.vscode/
/.idea/

##########################
# Version Control w/ Git #
##########################

# Ignore DS Store
/Exercises/VersionControlWithGit/Exercises/git-exercises/.DS_Store

# Ignore Gradle build folders
/Exercises/VersionControlWithGit/Exercises/git-exercises/build/

# Ignore Gradle cache files
/Exercises/VersionControlWithGit/Exercises/git-exercises/.gradle/

# Ignore Gradle wrapper files
/Exercises/VersionControlWithGit/Exercises/git-exercises/gradle/wrapper/

#######################################
# Build Tools & Package Manager Tools #
#######################################

# Ignore Gradle cache files
/Exercises/BuildToolsAndPackageManager/build-tools-exercises/.gradle/

# Ignore Gradle build folders
/Exercises/BuildToolsAndPackageManager/build-tools-exercises/build/

#######################
# Cloud & IaaS Basics # 
#######################

# Ignore NodeJs dependancies directory
/Exercises/CloudAndIaasBasics/cloud-basics-exercises/app/node_modules

# Ignore DS Store
/Exercises/CloudAndIaasBasics/cloud-basics-exercises/*.DS_Store

# Ignore NodeJs compressed archive file
/Exercises/CloudAndIaasBasics/cloud-basics-exercises/app/*tgz

########################################
# Artifact Repository Manager w/ Nexus #
########################################

# Ignore DS Store
/Exercises/ArtifactRepoManagerWithNexus/java-gradle-app/.DS_Store

# Ignore Gradle build folders
/Exercises/ArtifactRepoManagerWithNexus/java-gradle-app/build/

# Ignore Gradle cache files
/Exercises/ArtifactRepoManagerWithNexus/java-gradle-app/.gradle/

# Ignore Gradle properties
/Exercises/ArtifactRepoManagerWithNexus/java-gradle-app/gradle.properties

# Ignore Gradle build config
/Exercises/ArtifactRepoManagerWithNexus/java-gradle-app/build.gradle

# Ignore Maven build output
/Exercises/ArtifactRepoManagerWithNexus/java-maven-app/target/
